.features-section {
position: relative;
background: url("../decor/bg-leaf1.png") left top 57% no-repeat;

&::before {
  content: url("../decor/berry-bar.png");
  position: absolute;
  bottom: -80px;
  left: 0;
}

}