.features-section {
position: relative;
background: url("../../decor/узор\ лист@1X.png") left top 57% no-repeat;

&::before {
  content: url("../../decor/батончик\ с\ малиной.png");
  position: absolute;
  bottom: -80px;
  left: 0;
}

}