.menu-section {
  background-color: #f8fafa;
}

.slider {
  display: flex;

@include tablets {
flex-direction: column;
align-items: center;
  }
}

.menu-desc-item {
  display: flex;
  margin-bottom: rem(10px);

  @include tablets {
    justify-content: center;
  }
}

.menu-desc {
  display: flex;

  @include tablets {
    display: flex;
    width: 70%;
  }
}

.menu-image {
  margin-bottom: rem(80px);

  @include tablets {
    display: flex;
    margin-right: 0;
  }
}


.ingrid-icon {
  width: 20%;
  height: fit-content;
  text-align: center;
  color: white;
  background-color: $blue;
  border-radius: rem(5px);
  font-size: rem(15px);
  font-weight: bold;

  @include tablets {
    display: none;
  }

}

.menu__title {
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 700;
  font-size: rem(36px);

  @include tablets {
    font-size: rem(40px);
  }

  @include phones {
    font-size: rem(30px);
  }
}

.menu-desc-text {
  color: #666666;

  @include tablets {
    font-size: rem(16px);
  }
}

.menu-desc-detail__price {
  font-size: rem(60px);
  color: #151515;
  font-weight: 300;

  @include tablets {
    font-size: rem(55px);
  }
}

.menu-desc-detail {
  display: flex;
  align-items: center;
  margin-right: rem(10px);

  &:last-child {
    margin-right: 0;
  }
}

.ingrid-icon span {
  color: white;
  font-weight: bold;
}