.menu-section {
  background-color: #f8fafa;
  flex-direction: row;
  @include tablets {
    flex-direction: column;
   
  }
}

.slider {
  display: flex;

@include tablets {
flex-direction: column;
align-items: center;
  }
}

.menu-desc-item {
  display: flex;
  margin-bottom: rem(10px);

  @include tablets {
    justify-content: center;
  }
}

.menu-desc {
  display: flex;

  @include tablets {
    display: flex;
    width: 70%;
  }
}

.menu-image {
  margin-bottom: rem(80px);
  

  @include tablets {
    display: flex;
    margin-right: 0;
    width: 80%;
    margin-bottom: rem(10px);

  }
}

.menu-img {
  margin-right: rem(85px);
  @include tablets {
    margin-right: 0;
    width: 80%;
  }
}


.ingrid-icon {
  width: 20%;
  height: fit-content;
  text-align: center;
  color: white;
  background-color: $blue;
  border-radius: rem(5px);
  font-size: rem(15px);
  font-weight: bold;

  @include tablets {
    display: none;
  }

}
.ingrid-icon span {
  color: white;
  font-weight: bold;
}
.menu__title {

  font-size: rem(25px);
  line-height: 1;
  text-align: start;
  font-weight: bold;
  margin-bottom: rem(20px);
  text-transform: uppercase;
  color: #000;

  @include tablets {
    font-size: rem(18px);
  }

  @include phones {
    font-size: rem(16px);
  }
}

.menu-desc-text {
  color: #666666;
  width: 88%;

  @include tablets {
    font-size: rem(16px);
  }
}

.menu-desc-detail__price {
  font-size: rem(40px);
  color: #151515;
  font-weight: 300;

  @include tablets {
    font-size: rem(30px);
  }
}

.menu-desc-detail {
  align-items: center;
  margin-right: rem(40px);

  &:last-child {
    margin-right: 0;
  }
}

.ingrid-icon span {
  color: white;
  font-weight: bold;
}
.detail {
  display: flex;
  margin-right: 10px;
}
.arrow-left {
  display: flex;
}
.arrow-left {
  display: flex;
}