.modal {
  display: none;

  &.error-modal{
    .modal__content{
      color: red;
    }
  }

  &.fancybox-content {
    padding: 0 !important;
  }

  .fancybox-button {
    display: none;
  }
}
.modal__container {
  background: #ffffff;
  padding: 35px 60px;
  display: flex;
 
  align-items: center;
}
.modal__content {
 color: #000;
 font-weight: bold; 
}
.close-icon + .submit-close {
  color: #000000;
}
.close.sub {
  fill: #000000;
}
