.opened__menu {
  display: none;
  position: absolute;
  background-color: #333537;
  top: 0;
  height: 100%;
  width: 100%;

}

.opened__menu--active {

 display: none;



 @include tablets {
  display: flex;
  justify-content: center;
}
@include phones {
  display: flex;
  justify-content: center;
}

}

.menu__list--opened{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.menu__item {
  margin-right: rem(15px);
  &:last-child {
    margin-right: 0;
  }
  margin-bottom: 10px;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
  &:hover {
    opacity: 0.5;
  }
}
.close-icon {
  position: absolute;
  top: rem(15px);
  right: rem(15px);
}