.opened__menu {
  display: none;
  position: absolute;
  background-color: #333537;
  top: 0;
  height: 100%;
  width: 100%;

}
.opened__menu--active {
  display: flex;
  text-align: center;

}



.menu__item {
  margin-right: rem(15px);
  &:last-child {
    margin-right: 0;
  }
  margin-bottom: 10px;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
  &:hover {
    opacity: 0.5;
  }
}
.close-icon {
  position: absolute;
  top: rem(15px);
  right: rem(15px);
}
.container-menu {
  display: flex;
  align-items: center;
}
