.reviews__display {
  background: #f8f5f9;
  padding: 50px 45px 54px;
}

.reviews__display-inner {
  display: flex;
}

.reviews__avatar {
  width: 354px;
  height: 260px;
}

.interactive-avatar__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}